header {
    background-color: white;
    font-family: verdana
}

body {
    text-align: center;
    color: black;

    background-image: url('images/vertical_menu_gradient.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 115px 100%;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    opacity: 0;

}

footer {
    text-align: left;
    color: black;
    font-family: verdana;
    background-image: url('images/hyperion_footer.png');
    background-attachment: fixed;
    background-size: 100% 5px;

    margin: 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2%;

    opacity:1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/************* Text Styles *************/
h1 {
    color: #5B9BD5;
    font-family: verdana;
    font-size: 40px;
}

h2 {
    color: black;
    font-family: verdana;
    font-size: 20px;
}

h3 {
    color: black;
    font-family: verdana;
    font-size: 16px;
}

p {
    color: black;
    font-family: verdana;
    font-size: 10px;
    font-weight:bold;
    margin:0;
}

label {
    color: black;
    font-family: verdana;
    font-size: 20px;
    font-weight:bold;
}


.text {
  background-color: #D0CECE;
  border-radius: 4px;
  border: none;
  color: black;
  padding: 14px 28px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.text { opacity:0.7; }
.text:hover {opacity:1;}

/************* Division Styles *************/
.main_menu {

  float:left;
  width:100px;
  height:100%;
  cursor:pointer;
}

div.credentials {
    text-align: center;
    display: inline-grid;
    grid-template-columns: 300px 400px;
    grid-gap:5px;
    padding:20px;
}
div.credentials label       { text-align:center;padding: 14px 28px;margin: 2px 2px; }
div.credentials label:after { content: ":"; }

div.device_settings {
    text-align: center;
    display: inline-grid;
    grid-template-columns: 300px 260px;
    grid-gap:5px;
}
div.device_settings label       { text-align:right;padding: 14px 14px;margin: 2px 2px; }
div.device_settings input       { padding: 14px 14px;}
div.device_settings select      { text-align-last:center;}
div.device_settings label:after { content: ":"; }

div.message_config_settings {
    text-align: center;
    display: inline-grid;
    grid-template-columns: 300px 260px;
    grid-gap:5px;
}
div.message_config_settings label       { text-align:right;margin: 2px 2px; }

div.cloud_to_device{
    text-align: center;
    display: inline-grid;
}
div.cloud_to_device label       { text-align:center;padding: 14px 14px;margin: 2px 2px; }
div.cloud_to_device input       { padding: 14px 14px;}
div.cloud_to_device select      { text-align-last:center;}
div.cloud_to_device label:after { content: ":"; }

/*************  Button Styles *************/
.button {
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button_normal  { background-color: #5B9BD5; opacity:0.7; }
.button_normal:hover  { background-color: #5B9BD5; opacity:1; }
.button_ok      { background-color: #4CAF50}
.button_nok     { background-color: #F44336}
.button_greyed  { background-color: #D0CECE; opacity:0.8; }
.button_greyed:hover  { background-color: #5D0CECE; opacity:1; }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5B9BD5;
  opacity:0.7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

